<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Your Standup Groups</h2>
  </div>
</div>

<div class="row mt15">
  <div class="col-xs-12">
    <ul class="list-group">
      <% @view.groups.each do |group| %>
        <a href="<%= group_path(group) %>">
          <li class="list-group-item linked-item">
            <%= group.title %>
            <div class="pull-right">
              <% if @view.today_submitted(group) %>
                <span class="label label-success">Today submitted</span>
              <% else %>
                <span class="label label-danger">Today's standup not submitted</span>
              <% end %>

              <span class="label label-primary"><%= @view.completion_percentage(group) %>% complete</span>
            </div>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
</div>
