<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center"><%= @group.title %></h2>
  </div>
</div>

<div class="row mt15">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Submit Standup</div>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">View Past Standups</div>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
