@import "bootstrap-sprockets";
@import "bootstrap";

html {
  padding-top: 30px;
}

.mt15 { margin-top: 15px; }
.mt30 { margin-top: 30px; }
.mb15 { margin-bottom: 15px; }
.mb30 { margin-bottom: 30px; }

.list-group {
  > a {
    color: inherit;
    text-decoration: none;
  }

  .list-group-item.linked-item {
    &:hover {
      background: #eee;
    }
  }
}
